# Backend (Java/Maven)
backend/target/
backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
backend/release.properties
backend/.flattened-pom.xml

# Frontend (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/out-tsc/
frontend/bazel-out/
frontend/coverage/
frontend/testem.log
frontend/.sass-cache/
frontend/connect.lock

# IDEs and Editors
.project
.classpath
.settings/
bin/
.idea/
*.ipr
*.iml
*.iws
.vscode/
.factorypath
.c9/
*.launch
*.sublime-workspace

# Logs
npm-debug.log
yarn-error.log

# OSX
.DS_Store

# Windows
Thumbs.db

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/

# TLS Certificates
.certs/
