services:

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: musicdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: app123
    ports:
      - "5444:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d musicdb"]
      interval: 5s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_SERVER_URL: http://localhost:19000
    ports:
      - "19000:9000"
      - "19001:9001"
    volumes:
      - miniodata:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ./backend
    ports:
      - "8090:8090"
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_started
    environment:
      QUARKUS_HTTP_PORT: 8090
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://postgres:5432/musicdb
      QUARKUS_DATASOURCE_USERNAME: appuser
      QUARKUS_DATASOURCE_PASSWORD: app123
      QUARKUS_MINIO_HOST: minio
      QUARKUS_MINIO_PORT: 9000
      QUARKUS_MINIO_SECURE: "false"
      QUARKUS_MINIO_ACCESS_KEY: minioadmin
      QUARKUS_MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET_NAME: capa-albuns
      QUARKUS_HTTP_CORS_ORIGINS: http://localhost:4201,http://localhost:4200,http://localhost

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4201:4201"
    restart: unless-stopped
    depends_on:
      api:
        condition: service_started

volumes:
  pgdata:
  miniodata:
