version: "3.9"

services:

  postgres:
    image: postgres:16
    container_name: app-postgres
    environment:
      POSTGRES_DB: musicdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: app123
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: app-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data

  api:
    build: .
    container_name: elandro-api
    depends_on:
      - postgres
      - minio
    ports:
      - "8080:8080"
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://postgres:5432/musicdb
      QUARKUS_DATASOURCE_USERNAME: appuser
      QUARKUS_DATASOURCE_PASSWORD: app123
      QUARKUS_MINIO_HOST: minio
      QUARKUS_MINIO_PORT: 9000
      QUARKUS_MINIO_SECURE: "false"
      QUARKUS_MINIO_ACCESS_KEY: minioadmin
      QUARKUS_MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET_NAME: capa-albuns

volumes:
  pgdata:
  miniodata:
